@-webkit-keyframes wrongBump_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.01) rotate(2deg);
            transform: scale(1.01) rotate(2deg);
  }
  50% {
    -webkit-transform: scale(1.02) rotate(-2deg);
            transform: scale(1.02) rotate(-2deg);
  }
  75% {
    -webkit-transform: scale(1.01) rotate(2deg);
            transform: scale(1.01) rotate(2deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wrongBump_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.01) rotate(2deg);
            transform: scale(1.01) rotate(2deg);
  }
  50% {
    -webkit-transform: scale(1.02) rotate(-2deg);
            transform: scale(1.02) rotate(-2deg);
  }
  75% {
    -webkit-transform: scale(1.01) rotate(2deg);
            transform: scale(1.01) rotate(2deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rightBump_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes rightBump_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vh;
  margin-top: 10vh;
}

.quiz .frage {
  white-space: pre;
  background-color: rgba(16, 22, 47, 0.75);
  border-radius: 5vh;
  height: 20vh;
  padding: 5%;
}

.quiz .quizItem {
  border: 1px rgba(255, 255, 255, 0.5) solid !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  height: 10vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1%;
}

.quiz .quizItem.wrong {
  border: 1px rgba(255, 0, 0, 0.5) solid !important;
  -webkit-animation: wrongBump_anim 0.7s ease-in-out forwards;
          animation: wrongBump_anim 0.7s ease-in-out forwards;
}

.quiz .quizItem.right {
  border: 1px rgba(0, 255, 55, 0.5) solid !important;
  background-color: #239f9c !important;
  -webkit-animation: rightBump_anim 0.7s ease-in-out forwards;
          animation: rightBump_anim 0.7s ease-in-out forwards;
}

.quiz .quizItem:hover .circle,
.quiz .quizItem:hover .triangle,
.quiz .quizItem:hover .box {
  z-index: 5;
}

.quiz .quizItem .circle {
  -webkit-mask: url("../../../svgs/circle.svg") no-repeat center;
          mask: url("../../../svgs/circle.svg") no-repeat center;
}

.quiz .quizItem .triangle {
  -webkit-mask: url("../../../svgs/triangle.svg") no-repeat center;
          mask: url("../../../svgs/triangle.svg") no-repeat center;
}

.quiz .quizItem .box {
  -webkit-mask: url("../../../svgs/box.svg") no-repeat center;
          mask: url("../../../svgs/box.svg") no-repeat center;
}

.quiz .quizItem .shape {
  background-color: var(--GuardRed);
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: -1;
  width: 15%;
}

.quiz .quizItem .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
/*# sourceMappingURL=quiz.css.map */