
:root{

    --white: #fff;
    --GuardRed: #ed1b76;
    --GuardRedLight: #f44786;
    --PlayerGreenDark: #037A79ff;
    --PlayerGreen: #037a76;
    --PlayerGreenLight: #239f9c;
    --StairPink: #FCB6EAff;
    --StairGreen: #E1FEACff;
    --FloorGrey: #485B79ff;
    --StairBlueGreen: #43BCCCff;
    --VIPGold: #FCC201;
    --FrontManGrey: #344F6A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}