div #question, #answer1, #answer2 {
    border: 1px solid cadetblue;
    height: 50px;
    width: 75%;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-family: Calibri;
   
   margin: auto;

    
}

 div #answer2:hover, #answer1:hover {
    background-color: #F44788;
    border: #F44788;
    color: black;
    text-align:inherit;
    padding-top: 3px;
}

p{
    text-align: center;
}

body {
    background-color: darkblue;
}

div {
    margin: auto;
    
    
}

h1{
    color: aliceblue;
    text-decoration: underline;
    font-family: calibri;
    text-align: center;
}

img {
    margin-bottom: 25px;
}