.go {
    &.active{
        opacity: 1;
        visibility: visible;
    }
    text-align: center;
    margin-top: 3%;
    /* position: absolute;
    left: 82%; */
    transition: opacity 1s;
    opacity: 0;
    visibility: hidden;
  }

  .go2 {
    position: absolute;
    left: 75%;
  }

  .button {
      &:hover span {
        padding-right: 25px;
      }

      &:hover span::after{
        opacity: 1;
        right: 0;
      }

    span {
        &::after{
            content: "\00bb";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
        }
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: padding-right 0.5s, right 0.5s;
    }
    border-radius: 2.5vh;
    background-color: rgba(16, 22, 47, 0.75);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
  }
