@import "./mixins.scss";

@keyframes colorChange {
  // 0% { filter: hue-rotate(0deg)}
  // 50% { filter: hue-rotate(180deg)}
  // 100% { filter: hue-rotate(360deg)}

  0% {
    background-color: var(--GuardRed);
  }
  25% {
    background-color: var(--PlayerGreen);
  }
  75% {
    background-color: var(--VIPGold);
  }
  100% {
    background-color: var(--GuardRed);
  }
}

@keyframes smallScaleBump {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 10vh;

  .frage {
    white-space: pre;
    background-color: rgba(16, 22, 47, 0.75);
    border-radius: 5vh;
    height: 20vh;
    padding: 5%;
  }

  .quizItem {
    &.wrong {
      border: 1px rgba(255, 0, 0, 0.5) solid !important;
      animation: smallScaleBump 1s ease-in-out forwards;
    }
    border: 1px rgba(255, 255, 255, 0.5) solid !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    height: 10vh;
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 1%;

    &::after {
      //   background: rgba(255, 255, 255, 0) !important;
    }

    &:hover .circle,
    &:hover .triangle,
    &:hover .box {
      // animation: colorChange 5s linear infinite;
      z-index: 5;
    }

    .circle {
      mask: url("../../../svgs/circle.svg") no-repeat center;
    }

    .triangle {
      mask: url("../../../svgs/triangle.svg") no-repeat center;
    }

    .box {
      mask: url("../../../svgs/box.svg") no-repeat center;
    }

    .shape {
      background-color: var(--GuardRed);
      // transition: 1s;
      transform: scale(2);
      z-index: -1;
      width: 15%;
    }

    .text {
      @include absoluteCenter;
      text-align: center;
    }
  }
}
